		body
		{
			background-attachment:fixed;
			background-size:cover;
		}
		.img
		{
			margin-left:56%;
			margin-top:13%;
		}
		.h
		{
			font-family:verdana;
			color:d9d9d9;
			margin-left:56%;
			margin-top:4%;
			font-size:70px;		
		}
		.h1
		{
			font-family:verdana;
			color:d9d9d9;
			margin-left:56%;
			margin-top:3%;
			font-size:33px;
		}
		.button1
		{	
			background-color: #1da1f2;
			border-radius: 25px;
			height:53;
			width:380;
			margin-left:56%;
			color: white;
			font-size:90%;
			font-family:roboto;
			border-color:black;
			cursor:pointer;
		}
		.button2
		{	
			background-color: #1da1f2;
			border-radius: 25px;
			height:53;
			width:380;
			margin-top:1%;
			margin-left:56%;
			color: #1da1f2;
			font-size:90%;
			font-family:roboto;
			border-color:#1da1f2;
			background-color:black;
			cursor:pointer;
		}
		.n
		{		
			display:flex;
			float:center;
			background-color:black;
			max-height:160px;
			position:sticky;
			text-indent:17px;
			margin:5px;
			color:#6e767d;
			height:5%;
			width:90%;
			margin-top:13.7%;
			align-items:center;
			margin-left:auto;
			padding-left:10%;
			font-size:15px;
			font-family:roboto;
			position: absolute;
		}
		a:link 
		{
			color: #6e767d;
			background-color: transparent;
			text-decoration: none;
		}
		a:visited 
		{
			color: #6e767d;
			background-color: transparent;
			text-decoration: none;
		}
		a:hover 
		{
			color: #6e767d;
			background-color: transparent;
			text-decoration: underline;
		}
		a:active 
		{
			color: #6e767d;
			background-color: transparent;
			text-decoration: underline;
		}	
		body
		{
            margin: 0px;
            padding: 0px;
		}